# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.KaKo.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\DONBASS\source\repos\KaKo\.idea\.idea.KaKo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
